.heading {
    display: flex;
    justify-content: center;
}

.blog-heading {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.icon {
    width: 30px;
    cursor: pointer;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
    gap: 4px;
}

#content-box {
    height: 48px;
}

#back-button {
    align-self: center;
}


[data-theme='dark'] {
    background-color: black;
}

#toggle {
    width: 160px;

}