.heading {
    display: flex;
    justify-content: center;
}

.blog-heading {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.icon {
    width: 30px;
    cursor: pointer;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
    gap: 4px;
}

#content-box {
    height: 48px;
}

#back-button {
    align-self: center;
}

.dark {
    height: 100vh;
    color: #bebebe
}

.light {
    color: black;
    height: 100vh;
}

:root [data-theme='light'] {
    --primary-color: #edf2fc;
    --secondary-color: #212121;
}

.dark-theme {
    --primary-color: #000106;
    --secondary-color: #fff;
}