.heading {
    display: flex;
    justify-content: center;
}

.blog-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4px;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
    gap: 4px;
}

#content-box {
    height: 48px;
}

#back-button {
    align-self: center;
}

.container-dark {
  
}

.container-light {
   
}
